.version.develop /* version checker */
{
	color: #000010;
	background-color: #B095AE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -19px;
	margin-bottom: -37px;
	width: 0.01px;
}

#pu4340
{
	width: 0.01px;
	margin-left: -82px;
}

#u4340
{
	z-index: 35;
	width: 318px;
	margin-right: -10000px;
}

#menuu138
{
	z-index: 2;
	width: 446px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 576px;
}

#u146
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u147
{
	width: 87px;
	padding-bottom: 17px;
}

#u147:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u147:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u147:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u147:active #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u139
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u142
{
	width: 87px;
	padding-bottom: 17px;
}

#u147.MuseMenuActive,#u142:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u142:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u142.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u144-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u147.MuseMenuActive #u148-4,#u142:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u142:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u142.MuseMenuActive #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u517
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u518
{
	width: 88px;
	padding-bottom: 17px;
}

#u518:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u518:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u521-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u518:hover #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u518:active #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u2673
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2674
{
	width: 88px;
	padding-bottom: 17px;
}

#u518.MuseMenuActive,#u2674:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2674:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2676-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u518.MuseMenuActive #u521-4,#u2674:hover #u2676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u2674:active #u2676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u167
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u168
{
	width: 88px;
	padding-bottom: 17px;
}

#u2674.MuseMenuActive,#u168:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u168:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u168.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2674.MuseMenuActive #u2676-4,#u168:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u168:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u168.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#pu2517
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 8px;
}

#u2517
{
	z-index: 165;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2443-7
{
	z-index: 158;
	width: 769px;
	min-height: 76px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#accordionu788
{
	z-index: 37;
	width: 959px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u797
{
	z-index: 38;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u798-4
{
	z-index: 39;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u798-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u798-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u799
{
	z-index: 43;
	width: 957px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
}

#u800-11
{
	z-index: 44;
	width: 920px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 18px;
}

#u793
{
	z-index: 55;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u796-4
{
	z-index: 56;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u796-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u796-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u794
{
	z-index: 60;
	width: 957px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
}

#u795-9
{
	z-index: 61;
	width: 920px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 18px;
}

#u928
{
	z-index: 70;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u931-4
{
	z-index: 71;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u931-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u931-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u929
{
	z-index: 75;
	width: 920px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 12px 19px 19px 18px;
}

#u2301
{
	z-index: 84;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u932-11
{
	z-index: 85;
	width: 920px;
	min-height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#pu2205-4
{
	width: 0.01px;
}

#u2205-4
{
	z-index: 96;
	width: 152px;
	min-height: 1px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
}

#u2208-4
{
	z-index: 104;
	width: 769px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u2207-4
{
	z-index: 100;
	width: 151px;
	min-height: 10px;
	background-color: transparent;
	line-height: 19px;
	margin-top: 13px;
	position: relative;
}

#u2221-4
{
	z-index: 108;
	width: 151px;
	min-height: 2px;
	background-color: transparent;
	line-height: 19px;
	margin-top: 37px;
	position: relative;
}

#u2206-4
{
	z-index: 76;
	width: 769px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	margin-left: 151px;
	top: -75px;
	margin-bottom: -38px;
	position: relative;
}

#u2222-4
{
	z-index: 80;
	width: 769px;
	min-height: 61px;
	background-color: transparent;
	line-height: 19px;
	margin-left: 151px;
	top: -20px;
	margin-bottom: -20px;
	position: relative;
}

#u1625
{
	z-index: 112;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u1628-4
{
	z-index: 113;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u1628-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u1628-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u798-4.AccordionPanelTabOpen,#u796-4.AccordionPanelTabOpen,#u931-4.AccordionPanelTabOpen,#u1628-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u798-4.AccordionPanelTabOpen p,#u796-4.AccordionPanelTabOpen p,#u931-4.AccordionPanelTabOpen p,#u1628-4.AccordionPanelTabOpen p
{
	color: #000000;
	visibility: inherit;
	line-height: 1.2;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	padding: 0px;
}

#u1626
{
	z-index: 117;
	width: 957px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 39px;
	position: relative;
}

#u1629-40
{
	z-index: 118;
	width: 920px;
	min-height: 361px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 18px;
}

#u1629-2,#u1629-10,#u1629-18
{
	line-height: 22px;
}

#u1629-4,#u1629-6,#u1629-8,#u1629-12,#u1629-14,#u1629-16,#u1629-25
{
	line-height: 19px;
}

#u1629-38
{
	counter-reset: list0;
}

#u1629-38 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u1629-38 .list1
{
	counter-reset: list1;
}

#u1629-38 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u1629-38 .list2
{
	counter-reset: list2;
}

#u1629-38 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u1629-38 .list3
{
	counter-reset: list3;
}

#u1629-38 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u1629-38 .list4
{
	counter-reset: list4;
}

#u1629-38 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u1629-38 .list5
{
	counter-reset: list5;
}

#u1629-38 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u1629-38 .list6
{
	counter-reset: list6;
}

#u1629-38 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u1629-38 .list7
{
	counter-reset: list7;
}

#u1629-38 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u1629-38 .list8
{
	counter-reset: list8;
}

#u1629-38 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u1629-20,#u1629-24,#u1629-27,#u1629-29,#u1629-31,#u1629-33,#u1629-35,#u1629-37
{
	line-height: 19px;
	padding-left: 40px;
}

#u1629-38 > #u1629-29:before,#u1629-38 > #u1629-31:before,#u1629-38 > #u1629-33:before,#u1629-38 > #u1629-35:before,#u1629-38 > #u1629-37:before
{
	margin-right: -34px;
}

#u1629-38.rtl-list > #u1629-29:before,#u1629-38.rtl-list > #u1629-31:before,#u1629-38.rtl-list > #u1629-33:before,#u1629-38.rtl-list > #u1629-35:before,#u1629-38.rtl-list > #u1629-37:before
{
	margin-right: 0px;
	margin-left: -34px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u279
{
	z-index: 33;
	min-height: 48px;
	padding-bottom: 48px;
}

#u279_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u292
{
	z-index: 34;
	width: 291px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 816px;
}

#u279-bw
{
	z-index: 33;
	min-height: 48px;
	margin-top: 112px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

