.version.develop /* version checker */
{
	color: #0000E1;
	background-color: #718A83;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 599.6500000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -19px;
	margin-bottom: -37px;
	width: 0.01px;
}

#pu9942
{
	width: 0.01px;
}

#u9942
{
	z-index: 34;
	width: 318px;
	margin-right: -10000px;
}

#menuu138
{
	z-index: 2;
	width: 446px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 514px;
}

#u146
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u147
{
	width: 87px;
	padding-bottom: 17px;
}

#u147:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u147:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u147:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u147:active #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u139
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u142
{
	width: 87px;
	padding-bottom: 17px;
}

#u147.MuseMenuActive,#u142:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u142:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u142.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u144-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u147.MuseMenuActive #u148-4,#u142:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u142:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u142.MuseMenuActive #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u5549
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u5552
{
	width: 88px;
	padding-bottom: 17px;
}

#u5552:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5552:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5553-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u5552:hover #u5553-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u5552:active #u5553-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u2673
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2674
{
	width: 88px;
	padding-bottom: 17px;
}

#u5552.MuseMenuActive,#u2674:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2674:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2676-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u5552.MuseMenuActive #u5553-4,#u2674:hover #u2676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u2674:active #u2676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u167
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u168
{
	width: 88px;
	padding-bottom: 17px;
}

#u2674.MuseMenuActive,#u168:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u168:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u168.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2674.MuseMenuActive #u2676-4,#u168:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u168:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u168.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#pu8503
{
	width: 0.01px;
	margin-top: 26px;
}

#u8503
{
	z-index: 286;
	width: 171px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2443-11
{
	z-index: 275;
	width: 790px;
	min-height: 76px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#accordionu788
{
	z-index: 36;
	width: 959px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5471
{
	z-index: 37;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u5474-4
{
	z-index: 38;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #0071BC;
	line-height: 22px;
	position: relative;
}

#u5474-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u5474-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u5472
{
	z-index: 42;
	width: 920px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 8px 19px 0px 18px;
}

#u6185-5
{
	z-index: 43;
	width: 920px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#tab-panelu6186
{
	z-index: 48;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u6187
{
	z-index: 49;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6188
{
	z-index: 50;
	width: 459px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u6188:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 459px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u6188.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 459px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u6191-4
{
	z-index: 51;
	width: 459px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u6188:hover #u6191-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 459px;
	margin: 0px -10000px 0px 0px;
}

#u6196
{
	z-index: 55;
	width: 459px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 459px;
}

#u6196:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 459px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u6196.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 459px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u6199-4
{
	z-index: 56;
	width: 459px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u6196:hover #u6199-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 459px;
	margin: 0px -10000px 0px 0px;
}

#u6188.TabbedPanelsTabSelected #u6191-4,#u6196.TabbedPanelsTabSelected #u6199-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 459px;
	margin: 0px -10000px 0px 0px;
}

#u6200
{
	z-index: 60;
	width: 920px;
	background-color: transparent;
	position: relative;
}

#u6205
{
	z-index: 61;
	width: 918px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 158px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#pu6208-28
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 21px;
}

#u6208-28
{
	z-index: 62;
	width: 887px;
	min-height: 107px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6208-6,#u6208-8,#u6208-10
{
	font-weight: normal;
}

#u9539
{
	z-index: 100;
	width: 250px;
	height: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 596px;
	background: transparent url("../images/alteraopensource-normal.png") no-repeat left top;
	background-size: contain;
}

#u9539:hover
{
	width: 250px;
	height: 68px;
	min-height: 0px;
	margin: 45px -10000px 0px 0px;
	background: transparent url("../images/alteraopensource-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#pbuttonu9310
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 183px;
	margin-left: 617px;
}

#buttonu9310
{
	z-index: 90;
	width: 122px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
}

#buttonu9310:hover
{
	background-color: #545454;
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#buttonu9310.ButtonSelected
{
	background-color: #0071BC;
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u9311-4
{
	z-index: 91;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1px;
}

#buttonu9310:hover #u9311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 8px -10000px 0px 0px;
}

#buttonu9310:hover #u9311-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu9313
{
	z-index: 95;
	width: 122px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 3px;
	margin-top: 46px;
	position: relative;
}

#buttonu9313:hover
{
	background-color: #545454;
	width: 122px;
	min-height: 0px;
	margin: 46px 0px 0px;
}

#buttonu9313.ButtonSelected
{
	background-color: #0071BC;
	width: 122px;
	min-height: 0px;
	margin: 46px 0px 0px;
}

#u9314-4
{
	z-index: 96;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#buttonu9313:hover #u9314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 7px -10000px 0px 0px;
}

#buttonu9313.ButtonSelected #u9314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 7px -10000px 0px 0px;
}

#buttonu9313:hover #u9314-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu9926
{
	z-index: 101;
	width: 122px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 772px;
}

#buttonu9926:hover
{
	background-color: #545454;
	width: 122px;
	min-height: 0px;
	margin: 183px -10000px 0px 0px;
}

#buttonu9926.ButtonSelected
{
	background-color: #0071BC;
	width: 122px;
	min-height: 0px;
	margin: 183px -10000px 0px 0px;
}

#u9927-4
{
	z-index: 102;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1px;
}

#buttonu9310.ButtonSelected #u9311-4,#buttonu9926:hover #u9927-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 8px -10000px 0px 0px;
}

#buttonu9926.ButtonSelected #u9927-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 8px -10000px 0px 0px;
}

#buttonu9926:hover #u9927-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6201
{
	z-index: 106;
	width: 918px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 41px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u6231-41
{
	z-index: 107;
	width: 781px;
	min-height: 107px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 6px;
}

#u6231-5,#u6231-8,#u6231-13,#u6231-11,#u6231-15,#u6231-22,#u6231-18,#u6231-20,#u6231-24,#u6231-29,#u6231-27
{
	line-height: 19px;
	padding-left: 10px;
}

#u6231-14 > #u6231-13:before,#u6231-12 > #u6231-11:before,#u6231-23 > #u6231-22:before,#u6231-21 > #u6231-18:before,#u6231-21 > #u6231-20:before,#u6231-30 > #u6231-29:before,#u6231-28 > #u6231-27:before
{
	margin-right: -4px;
}

#u6231-14.rtl-list > #u6231-13:before,#u6231-12.rtl-list > #u6231-11:before,#u6231-23.rtl-list > #u6231-22:before,#u6231-21.rtl-list > #u6231-18:before,#u6231-21.rtl-list > #u6231-20:before,#u6231-30.rtl-list > #u6231-29:before,#u6231-28.rtl-list > #u6231-27:before
{
	margin-right: 0px;
	margin-left: -4px;
}

#buttonu9284
{
	z-index: 148;
	width: 122px;
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 786px;
}

#buttonu9284:hover
{
	background-color: #545454;
	width: 122px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
}

#buttonu9284.ButtonSelected
{
	background-color: #0071BC;
	width: 122px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
}

#u9286-4
{
	z-index: 149;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1px;
}

#buttonu9284:hover #u9286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 10px -10000px 0px 0px;
}

#buttonu9284.ButtonSelected #u9286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 10px -10000px 0px 0px;
}

#buttonu9284:hover #u9286-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5476
{
	z-index: 153;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u5479-4
{
	z-index: 154;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #0071BC;
	line-height: 22px;
	position: relative;
}

#u5479-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u5479-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u5477
{
	z-index: 158;
	width: 957px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	position: relative;
}

#u6232-27
{
	z-index: 159;
	width: 920px;
	min-height: 65px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
}

#u6208-5,#u6208-7,#u6208-9,#u6208-11,#u6208-13,#u6208-14,#u6208-16,#u6208-23,#u6231-2,#u6231-34,#u6232-5
{
	line-height: 22px;
}

#u6232-13
{
	line-height: 19px;
	padding-left: 37px;
}

#u6208-2,#u6208-3,#u6208-18,#u6208-20,#u6208-21,#u6208-25,#u6231-4,#u6231-7,#u6231-31,#u6231-32,#u6231-39,#u6232-2,#u6232-3,#u6232-6,#u6232-10,#u6232-17,#u6232-19,#u6232-24
{
	line-height: 19px;
}

#u9431
{
	z-index: 186;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u9434-4
{
	z-index: 187;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u9434-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u9434-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u5474-4.AccordionPanelTabOpen,#u5479-4.AccordionPanelTabOpen,#u9434-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u5474-4.AccordionPanelTabOpen p,#u5479-4.AccordionPanelTabOpen p,#u9434-4.AccordionPanelTabOpen p
{
	color: #000000;
	visibility: inherit;
	font-size: 18px;
	line-height: 1.2;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	padding: 0px;
}

#u9432
{
	z-index: 191;
	width: 957px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
}

#tab-panelu9458
{
	z-index: 192;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 18px;
}

#u9459
{
	z-index: 193;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9468
{
	z-index: 194;
	width: 306px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u9468:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 306px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u9468.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 306px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u9471-4
{
	z-index: 195;
	width: 306px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u9468:hover #u9471-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u9464
{
	z-index: 199;
	width: 307px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
	border-width: 1px 0px 1px 1px;
}

#u9464:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 307px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u9464.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 307px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u9465-4
{
	z-index: 200;
	width: 307px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u9464:hover #u9465-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 307px;
	margin: 0px -10000px 0px 0px;
}

#u9464.TabbedPanelsTabSelected #u9465-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 307px;
	margin: 0px -10000px 0px 0px;
}

#u9460
{
	z-index: 204;
	width: 306px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	left: 613px;
}

#u9460:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 306px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u9460.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 306px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u9463-4
{
	z-index: 205;
	width: 306px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u9460:hover #u9463-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u9468.TabbedPanelsTabSelected #u9471-4,#u9460.TabbedPanelsTabSelected #u9463-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u6188.TabbedPanelsTabSelected #u6191-4 p,#u9468.TabbedPanelsTabSelected #u9471-4 p,#u9464.TabbedPanelsTabSelected #u9465-4 p,#u9460.TabbedPanelsTabSelected #u9463-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 20px;
	text-align: center;
	line-height: 1;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	padding: 0px;
}

#u9472
{
	z-index: 209;
	width: 921px;
	background-color: transparent;
	position: relative;
}

#u9473
{
	z-index: 210;
	width: 897px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-left: 22px;
	padding-top: 8px;
	padding-bottom: 176px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u9497-6
{
	z-index: 211;
	width: 179px;
	min-height: 44px;
	background-color: #0071BC;
	color: #FFFFFF;
	position: relative;
}

#u9497-2,#u9497-4
{
	padding-left: 3px;
	padding-top: 3px;
}

#u9498-19
{
	z-index: 217;
	width: 897px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#u9498-15
{
	color: #000000;
	font-weight: bold;
}

#u9501
{
	z-index: 236;
	width: 250px;
	height: 49px;
	margin-top: 41px;
	position: relative;
	background: transparent url("../images/rocketboards-normal.png") no-repeat left top;
	background-size: contain;
}

#u9501:hover
{
	width: 250px;
	height: 49px;
	min-height: 0px;
	margin: 41px 0px 0px;
	background: transparent url("../images/rocketboards-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u9477
{
	z-index: 237;
	width: 919px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 295px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u9499-15
{
	z-index: 238;
	width: 900px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u9499-3,#u9499-11
{
	font-weight: bold;
}

#u9500
{
	z-index: 253;
	width: 250px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 19px;
	background: transparent url("../images/rocketboards-normal.png") no-repeat left top;
	background-size: contain;
}

#u9500:hover
{
	width: 250px;
	height: 49px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
	background: transparent url("../images/rocketboards-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u9481
{
	z-index: 254;
	width: 919px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u9518-13
{
	z-index: 255;
	width: 322px;
	min-height: 217px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 21px;
}

#u9627
{
	z-index: 268;
	width: 576px;
	min-height: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 331px;
}

.TabbedPanelsTab,.AccordionPanelTab /* tabset */
{
	cursor: pointer;
}

#pu9116-4
{
	width: 0.01px;
	margin-left: 506px;
	margin-top: 28px;
}

#u9116-4
{
	z-index: 269;
	width: 299px;
	min-height: 70px;
	background-color: transparent;
	text-align: right;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u9117
{
	z-index: 273;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u279
{
	z-index: 33;
	height: 96px;
}

#u279-bw
{
	z-index: 33;
	height: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

