.version.index /* version checker */
{
	color: #0000EB;
	background-color: #5957FF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -19px;
	margin-bottom: -37px;
	width: 0.01px;
}

#u9942
{
	z-index: 34;
	width: 318px;
	margin-right: -10000px;
}

#menuu138
{
	z-index: 2;
	width: 446px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 514px;
}

#u146
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u147
{
	width: 87px;
	padding-bottom: 17px;
}

#u147:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u147:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u147:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u147:active #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u139
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u142
{
	width: 87px;
	padding-bottom: 17px;
}

#u147.MuseMenuActive,#u142:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u142:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u142.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u144-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u147.MuseMenuActive #u148-4,#u142:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u142:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u142.MuseMenuActive #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u5549
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u5552
{
	width: 88px;
	padding-bottom: 17px;
}

#u5552:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5552:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5553-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u5552:hover #u5553-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u5552:active #u5553-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u2673
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2674
{
	width: 88px;
	padding-bottom: 17px;
}

#u5552.MuseMenuActive,#u2674:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2674:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2676-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u5552.MuseMenuActive #u5553-4,#u2674:hover #u2676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u2674:active #u2676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u167
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u168
{
	width: 88px;
	padding-bottom: 17px;
}

#u2674.MuseMenuActive,#u168:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u168:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u168.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2674.MuseMenuActive #u2676-4,#u168:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u168:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u168.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#pu8515
{
	width: 0.01px;
	margin-top: 26px;
}

#u8515
{
	z-index: 371;
	width: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u823-16
{
	z-index: 36;
	width: 817px;
	min-height: 100px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 123px;
}

#pu824-5
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 11px;
}

#u824-5
{
	z-index: 52;
	width: 81px;
	min-height: 19px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u826-4
{
	z-index: 57;
	width: 817px;
	min-height: 50px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#pu827-6
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 7px;
}

#u827-6
{
	z-index: 61;
	width: 81px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u828-4
{
	z-index: 67;
	width: 817px;
	min-height: 50px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#pu829-6
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 9px;
}

#u829-6
{
	z-index: 71;
	width: 81px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u829
{
	color: #0071BC;
}

#u830-4
{
	z-index: 77;
	width: 817px;
	min-height: 50px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#pu831-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 8px;
}

#u831-4
{
	z-index: 81;
	width: 77px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u832-4
{
	z-index: 85;
	width: 817px;
	min-height: 50px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u914-4
{
	z-index: 367;
	width: 227px;
	min-height: 43px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 39px;
	position: relative;
}

#accordionu861
{
	z-index: 89;
	width: 959px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u874
{
	z-index: 90;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u877-4
{
	z-index: 91;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u877-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u877-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u875
{
	z-index: 95;
	width: 924px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 9px 19px 23px 14px;
}

#u1109-3
{
	z-index: 102;
	width: 84px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 134px;
}

#u1166
{
	z-index: 105;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#u1203-4
{
	z-index: 107;
	width: 89px;
	min-height: 39px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u9693
{
	z-index: 115;
	width: 96px;
	background-color: transparent;
	margin-left: 4px;
	top: -386px;
	margin-bottom: -96px;
	position: relative;
}

#u9726-4
{
	z-index: 117;
	width: 105px;
	min-height: 28px;
	background-color: transparent;
	text-align: center;
	top: -294px;
	margin-bottom: -28px;
	position: relative;
}

#pu1108-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 34px;
}

#u1108-4
{
	z-index: 98;
	width: 103px;
	min-height: 74px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u908
{
	z-index: 96;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#pu1991-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 33px;
}

#u1991-4
{
	z-index: 111;
	width: 103px;
	min-height: 74px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u10062
{
	z-index: 121;
	width: 651px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u10062_img
{
	padding-bottom: 1px;
}

#u1338
{
	z-index: 123;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u1339-4
{
	z-index: 124;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u1339-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u1339-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u1340
{
	z-index: 128;
	width: 917px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 30px 4px 30.416906125798505px 36px;
}

#pu9942,#pu1355-5
{
	width: 0.01px;
}

#u1355-5
{
	z-index: 129;
	width: 134px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u5889
{
	z-index: 166;
	width: 309px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u10044-4
{
	z-index: 176;
	width: 408px;
	min-height: 123px;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 478px;
}

#pu1109-3,#ppu9727
{
	width: 0.01px;
	margin-left: 4px;
}

#pu9727
{
	width: 0.01px;
	margin-right: -10000px;
}

#u9727
{
	z-index: 170;
	width: 96px;
	background-color: transparent;
	position: relative;
}

#u9730-4
{
	z-index: 172;
	width: 91px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	margin-left: 3px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u5901
{
	z-index: 168;
	width: 765px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#pu1425-4
{
	width: 0.01px;
	margin-top: 40px;
}

#u1425-4
{
	z-index: 141;
	width: 121px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u1426
{
	z-index: 145;
	width: 528px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u1432
{
	z-index: 147;
	width: 518px;
	background-color: transparent;
	margin-left: 142px;
	margin-top: 41px;
	position: relative;
}

#u2428
{
	z-index: 164;
	width: 770px;
	background-color: transparent;
	margin-left: 142px;
	margin-top: 8px;
	position: relative;
}

#pu1412-5
{
	width: 0.01px;
	margin-top: 43px;
}

#u1412-5
{
	z-index: 134;
	width: 121px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u1413
{
	z-index: 139;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u2422
{
	z-index: 162;
	width: 775px;
	background-color: transparent;
	margin-left: 142px;
	margin-top: 11px;
	position: relative;
}

#pu1438
{
	width: 0.01px;
	margin-top: 55px;
}

#u1438
{
	z-index: 149;
	width: 508px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 151px;
}

#u1444-5
{
	z-index: 151;
	width: 186px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#pu1446
{
	width: 0.01px;
	margin-left: 150px;
}

#u1446
{
	z-index: 156;
	width: 272px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1452
{
	z-index: 158;
	width: 457px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 309px;
}

#u1458
{
	z-index: 160;
	width: 769px;
	background-color: transparent;
	margin-left: 148px;
	margin-top: 7px;
	position: relative;
}

#u1630
{
	z-index: 180;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u1631-4
{
	z-index: 181;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u1631-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u1631-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u877-4.AccordionPanelTabOpen p,#u1339-4.AccordionPanelTabOpen p,#u1631-4.AccordionPanelTabOpen p
{
	color: #000000;
	visibility: inherit;
}

#u1632
{
	z-index: 185;
	width: 957px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 19px;
	position: relative;
}

#u4379-46
{
	z-index: 186;
	width: 343px;
	min-height: 416px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 17px;
}

#u4379-33,#u4379-34
{
	line-height: 19px;
	padding-left: 12px;
}

#u4379-5,#u4379-15,#u4379-17,#u4379-39
{
	line-height: 22px;
	padding-left: 16px;
}

#u4379-7,#u4379-9,#u4379-11,#u4379-13,#u4379-19,#u4379-21,#u4379-23,#u4379-25,#u4379-27,#u4379-29,#u4379-31,#u4379-37,#u4379-41,#u4379-43
{
	line-height: 19px;
	padding-left: 16px;
}

#u4379-14 > #u4379-7:before,#u4379-14 > #u4379-9:before,#u4379-14 > #u4379-11:before,#u4379-14 > #u4379-13:before,#u4379-32 > #u4379-19:before,#u4379-32 > #u4379-21:before,#u4379-32 > #u4379-23:before,#u4379-32 > #u4379-25:before,#u4379-32 > #u4379-27:before,#u4379-32 > #u4379-29:before,#u4379-32 > #u4379-31:before,#u4379-44 > #u4379-41:before,#u4379-44 > #u4379-43:before
{
	margin-right: -10px;
}

#u4379-14.rtl-list > #u4379-7:before,#u4379-14.rtl-list > #u4379-9:before,#u4379-14.rtl-list > #u4379-11:before,#u4379-14.rtl-list > #u4379-13:before,#u4379-32.rtl-list > #u4379-19:before,#u4379-32.rtl-list > #u4379-21:before,#u4379-32.rtl-list > #u4379-23:before,#u4379-32.rtl-list > #u4379-25:before,#u4379-32.rtl-list > #u4379-27:before,#u4379-32.rtl-list > #u4379-29:before,#u4379-32.rtl-list > #u4379-31:before,#u4379-44.rtl-list > #u4379-41:before,#u4379-44.rtl-list > #u4379-43:before
{
	margin-right: 0px;
	margin-left: -10px;
}

#u5465
{
	z-index: 232;
	width: 561px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 377px;
}

#u2302
{
	z-index: 234;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u2305-4
{
	z-index: 235;
	width: 947px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	position: relative;
}

#u2305-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u2305-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u877-4.AccordionPanelTabOpen,#u1339-4.AccordionPanelTabOpen,#u1631-4.AccordionPanelTabOpen,#u2305-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 947px;
	margin: 0px;
}

#u2305-4.AccordionPanelTabOpen p
{
	color: #000000;
	visibility: inherit;
	line-height: 1.2;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	padding: 0px;
}

#u2303
{
	z-index: 239;
	width: 957px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u2307-31
{
	z-index: 240;
	width: 920px;
	min-height: 715px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 18px;
}

#u2307-23
{
	font-style: italic;
}

#u2307,#u2307-3,#u2307-4,#u2307-6,#u2307-8,#u2307-10,#u2307-12,#u2307-14,#u2307-16,#u2307-18,#u2307-19,#u2307-22,#u2307-25,#u2307-27
{
	line-height: 19px;
}

#u4379-2,#u4379-3,#u4379-36,#u2307-21,#u2307-29
{
	line-height: 22px;
}

#tab-panelu7666
{
	z-index: 271;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 18px;
}

#u7667
{
	z-index: 272;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7676
{
	z-index: 273;
	width: 460px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u7676:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 460px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u7676.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 460px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u7679-4
{
	z-index: 274;
	width: 460px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u7676:hover #u7679-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 460px;
	margin: 0px -10000px 0px 0px;
}

#u7676.TabbedPanelsTabSelected #u7679-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 460px;
	margin: 0px -10000px 0px 0px;
}

#u7668
{
	z-index: 278;
	width: 459px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u7668:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 459px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u7668.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 459px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u7670-4
{
	z-index: 279;
	width: 459px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u7668:hover #u7670-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 459px;
	margin: 0px -10000px 0px 0px;
}

#u7668.TabbedPanelsTabSelected #u7670-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 459px;
	margin: 0px -10000px 0px 0px;
}

#u7680
{
	z-index: 283;
	width: 921px;
	background-color: transparent;
	position: relative;
}

#u7685
{
	z-index: 284;
	width: 919px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 92px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u7686-9
{
	z-index: 285;
	width: 291px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 21px;
}

#u7686-7
{
	padding-left: 35px;
}

#u7747
{
	z-index: 294;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 334px;
}

#u7689
{
	z-index: 295;
	width: 898px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-left: 21px;
	padding-top: 16px;
	padding-bottom: 0px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u7690-4
{
	z-index: 296;
	width: 898px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
}

#u7849
{
	z-index: 300;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7856-7
{
	z-index: 302;
	width: 220px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u7861
{
	z-index: 319;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u7859-10
{
	z-index: 309;
	width: 230px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 647px;
}

#u7875
{
	z-index: 340;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7874-10
{
	z-index: 330;
	width: 220px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u7887
{
	z-index: 342;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u7869-9
{
	z-index: 321;
	width: 230px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 647px;
}

#pu7849,#pu7875,#pu7901
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 17px;
}

#u7901
{
	z-index: 363;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7894-9
{
	z-index: 354;
	width: 220px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u7907
{
	z-index: 365;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u7893-10
{
	z-index: 344;
	width: 230px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	left: 647px;
}

#u7856-2,#u7859-2,#u7859-4,#u7874-2,#u7874-4,#u7874-5,#u7869-2,#u7869-4,#u7894-2,#u7894-4,#u7893-2,#u7893-4,#u7893-5,#u7893-6
{
	font-weight: bold;
}

.TabbedPanelsTab,.AccordionPanelTab /* tabset */
{
	cursor: pointer;
}

#u279
{
	z-index: 33;
	height: 96px;
}

#u279-bw
{
	z-index: 33;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

